

.axis path {
    fill: none;
    stroke: #000000;
    shape-rendering: crispEdges;
}


path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

text {
    font: helvetica, sans-serif;
    font-size: 10pt;
}